@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family:'Poppins', sans-serif;
}

h2{
    letter-spacing: 5px;
    color: #6c4a5d;
}

#name{
    color: #f5f5f5eb;
    letter-spacing: 5px;
}

/* Container for the two main sections */
#container{
    background-color: #f5f5f5;
    height: 100%;
    width: 92%;
    margin:2%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
}

#leftSection{
    background-color: #6c4a5d;
    flex-grow:0.5;
    text-align: center;
}
#rightSection{
    background-color: #f5f5f5;
    flex-grow:2;
    text-align: justify;
}

.sections{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

#profilePic{
    width: 50%;
    border: 8px solid #6c4a5d;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.4) 0px 5px 10px;
}

.flexDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Experience Section */
h4{
    margin-top: 0;
    color: #b75088;
}
.date{
    font-size: 14px;
    color: #b75088;
    font-style: italic;
}
.experience {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}
.experience .time_line {
    margin-top: 1px;
}
.experience .time_line .time_point {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #6c4a5d;
    border-radius: 50%;
}
.experience .time_line .time_road {
    width: 0.2rem;
    height: 100%;
    display: block;
    background: #6c4a5d;
    transform: translate(0.5rem, 0);
}

/* Skills Section */
.skill{
    background-color: #91446d;
    color: #f5f5f5;
    border: 5px solid #91446d;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    margin-top: 5px;
    margin-right: 10px;
} 
#skillsDiv{
    width: 70%; 
    margin:0 auto;
}

/* Links */
a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #c770a1;
}